@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary-soft: #f3f3f3;
}

.content{
    background-color: var(--primary-soft);
    overflow-y: scroll;
    
}

.header{
    position: sticky;
    top: 0.5rem;
    z-index: 2000;
}

.sidebar{

}
@media screen and (max-width: 780px){
    .sidebar{
        position: fixed;
        width: 300px;
        background-color: #f9f9f9;
        display: block !important;
        z-index: 2001;
        margin-left: -100%;
    }
}

.sidebar-btn-show{
    cursor: pointer;
}